<footer
    class="site-footer"
    id="contatti">

    <div class="container footer-grid">

        <div>

            <h3>
                Contatti
            </h3>

            <a href="tel:+390438586911">
                +39 0438 586911
            </a>

            <a href="mailto:info@turrin.it">
                info@turrin.it
            </a>

            <span>
                Via Malcanton, 38<br>
                31050 San Fior (TV) – Italia
            </span>

        </div>


        <div>

            <h3>
                Link utili
            </h3>

            <a href="{{ROOT}}index.html#prodotti">
                Prodotti
            </a>

            <a href="{{ROOT}}aggiornamenti.html">
                Aggiornamenti
            </a>

            <a href="{{ROOT}}index.html#azienda">
                Azienda
            </a>

            <a href="{{ROOT}}index.html#contatti">
                Contatti
            </a>

        </div>


        <div>

            <h3>
                Supporto
            </h3>

            <a href="#">
                Download
            </a>

            <a href="#">
                Manuali e guide
            </a>

            <a href="#">
                FAQ
            </a>

            <a href="#">
                Assistenza tecnica
            </a>

        </div>


        <div>

            <h3>
                Seguici
            </h3>

            <div class="socials">

                <a href="//www.facebook.com/Turrinelettronica/">f</a>
                <a href="//www.instagram.com/turrinelettronica/">▶</a>
                <a href="https://it.linkedin.com/company/turrinelettronica">in</a>

            </div>

        </div>

    </div>


    <div class="container footer-bottom">

        <span>
            © 2026 Turrin Elettronica S.r.l.
            – Tutti i diritti riservati
        </span>


        <div>

            <a href="#">
                Privacy Policy
            </a>

            <a href="#">
                Cookie Policy
            </a>

        </div>

    </div>

</footer>
