<header class="site-header">

    <div class="container header-inner">

        <a
            class="brand"
            href="{{ROOT}}index.html">

            <img
                src="{{ROOT}}assets/logo-turrin.png"
                alt="Turrin Elettronica"
                class="brand-logo"
            >

            <span class="brand-name">
                Turrin Elettronica
            </span>

        </a>


        <nav
            class="main-nav"
            aria-label="Navigazione principale">

            <a href="{{ROOT}}index.html#prodotti">
                Prodotti
            </a>

            <a href="{{ROOT}}aggiornamenti.html">
                Aggiornamenti
            </a>

            <a href="{{ROOT}}index.html#azienda">
                Azienda
            </a>

            <a href="{{ROOT}}index.html#contatti">
                Contatti
            </a>

        </nav>


        <a
            class="quote-button"
            href="{{ROOT}}index.html#contatti">

            Richiedi preventivo

        </a>


        <button
            class="menu-toggle"
            type="button"
            aria-label="Apri menu"
            aria-expanded="false">

            <span></span>
            <span></span>
            <span></span>

        </button>

    </div>

</header>
